@model JiraIssueBrowser.Models.NewIssueViewModel

@{
    ViewBag.Title = "Create";
}

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Skapa ny issue</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Summary)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Summary)
            @Html.ValidationMessageFor(model => model.Summary)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ClientReporter)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ClientReporter)
            @Html.ValidationMessageFor(model => model.ClientReporter)
        </div>


        <div class="editor-label">
            @Html.LabelFor(model => model.issueTypeId)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.issueTypeId, Model.IssueTypeSelectList, "<--Select-->")
            @Html.ValidationMessageFor(model => model.issueTypeId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.priorityId)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.priorityId, Model.PrioritySelectList, "<--Select-->")
            @Html.ValidationMessageFor(model => model.priorityId)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Issues")
</div>
