@model JiraIssueBrowser.Models.IssuesViewModel

@section AddToHead{
    <link href="@Url.Content("~/Content/test1.css")" rel="stylesheet" type="text/css" />
}           

@{
    ViewBag.Title = "Index";
}

@using (Html.BeginForm("Issues", "Jira", FormMethod.Get))
{
 <div>
@Html.ListBox("PriorityFilter", Model.PriorityFilter)
</div>

<div>
@Html.ListBox("StatusFilter", Model.StatusFilter)
</div>

<input type="submit" value="Submit" />   
}


<div>
<button class="btn" href="#">Uppdatera</button>
</div>
<div>
<button href="#">Uppdatera</button>
</div>

<div class="issues" style="width: 305px">
<div class="filterhead">
Filter ska vara här
</div>


<table>
@{ var odd = true; }
@foreach (var issue in Model.Issues.issues) {

<tr id="issue_3882" class="issue @(odd ? "odd": "even")">
  <td class="issue-status">
      <img class="issue-status" src="@issue.fields.status.iconUrl" alt="@issue.fields.status.name" />
  </td>

  <td class="issue-priority">
      <img class="issue-priority" src="@issue.fields.priority.iconUrl" alt="@issue.fields.priority.name" />
  </td>

  <td class="number">
    @issue.key
  </td>

  <td class="info">
    <div class="wrapper">

      <h3>
        <a href="@Url.Action("Issue", new { key = issue.key })">@issue.fields.summary</a>
      </h3>


      <p>rapporterat av <strong>@issue.fields.assignee.name</strong> för 3 dagar sedan</p>
    </div>
  </td>
</tr>
odd = !odd;
}
</table>
</div>