@model JiraIssueBrowser.Models.IssuesViewModel

@section AddToHead{
    <link href="@Url.Content("~/Content/issues.css")" rel="stylesheet" type="text/css" />
}           

@{
    ViewBag.Title = "Index";
}


<div class="box">
@using (Html.BeginForm("Issues", "Jira", FormMethod.Get))
{

    <div>
<div class="prio">
@Html.ListBox("priority", Model.PriorityFilter)
</div>

<div class="status">
@Html.ListBox("status", Model.StatusFilter)
</div>
</div>
<input class="knapp" type="submit" value="Filtrera" />
}
@using (Html.BeginForm("Issues", "Jira", FormMethod.Get))
{
    <input class="knapp" type="submit" value="Rensa" />
    
}


</div>


<div class="issues">
<table class="issue-table">
@{ bool odd = false; }
@foreach (var issue in Model.Issues.issues)
{
    odd = !odd;
    <tr class="@(odd ? "odd": "even")">
    <td>
        <div>
        <span class="issue-created">@issue.fields.reporter.displayName, @Model.TestTime(issue) sedan</span>
        <span class="issue-status" style="background-image: url(@issue.fields.status.iconUrl);">@issue.fields.status.name</span>
        <span class="issue-priority" style="background-image: url(@issue.fields.priority.iconUrl);">@issue.fields.priority.name</span>
        </div>

        <div class="issue-summary">@issue.fields.summary</div>

        <div class="issue-description">@issue.fields.description</div>
    </td>
    </tr>
}

</table>

@{ Html.RenderPartial("PaginationPartial", Model.Page); }
</div>