@model JiraIssueBrowser.Models.IssuesViewModel

@section AddToHead{
    <link href="@Url.Content("~/Content/test1.css")" rel="stylesheet" type="text/css" />
}           

@{
    ViewBag.Title = "Index";
}


<div class="box">
@using (Html.BeginForm("Issues", "Jira", FormMethod.Get))
{

    <div>
<div class="prio">
@Html.ListBox("priority", Model.PriorityFilter)
</div>

<div class="status">
@Html.ListBox("status", Model.StatusFilter)
</div>
</div>
<input class="knapp" type="submit" value="Filtrera" />
}
@using (Html.BeginForm("Issues", "Jira", FormMethod.Get))
{
    <input class="knapp" type="submit" value="Rensa" />
    
}


</div>

<div class="issues">


<table class="issues">
@{ var odd = true; }
@foreach (var issue in Model.Issues.issues) {

<tr id="issue_3882" class="issue @(odd ? "odd": "even")">
  <td class="issue-status">
      <img class="issue-status" src="@issue.fields.status.iconUrl" alt="@issue.fields.status.name" />
  </td>

  <td class="issue-priority">
      <img class="issue-priority" src="@issue.fields.priority.iconUrl" alt="@issue.fields.priority.name" />
  </td>

  <td class="number">
    @issue.key
  </td>

  <td class="info">
    <div class="wrapper">

      <h3>
        <a href="@Url.Action("Issue", new { key = issue.key })">@issue.fields.summary</a>
      </h3>

      <p>rapporterat av <strong>@issue.fields.assignee.displayName</strong> för @Model.TestTime(issue) sedan</p>
    </div>
  </td>
</tr>
odd = !odd;
}
</table>



@{ Html.RenderPartial("PaginationPartial", Model.Page); }
</div>