@model JiraIssueBrowser.Models.IssuesViewModel

@section AddToHead{
    <link href="@Url.Content("~/Content/issues.css")" rel="stylesheet" type="text/css" />
}           

@{
    ViewBag.Title = "Index";
}


<div class="filter-menu">
@using (Html.BeginForm("Issues", "Jira", FormMethod.Get))
{
<h1 class="menu">Filter</h1>
<h2 class="menu">Status</h2>
@Html.ListBox("status", new MultiSelectList(Model.Statuses, "id", "name", Model.SelectedStatuses))

<h2 class="menu">Priority</h2>
@Html.ListBox("priority", new MultiSelectList(Model.Priorities, "id", "name", Model.SelectedPriorities))

<h1 class="menu">Sortering</h1>
<h2 class="menu">Sortera på</h2>

<input type="submit" value="Submit" />
}


@using (Html.BeginForm("Issues", "Jira", FormMethod.Get))
{
<input type="submit" value="Visa alla" />
}
</div>

<div class="issues">
<table class="issue-table">
@{ bool odd = false; }
@foreach (var issue in Model.Issues.issues)
{
    odd = !odd;
    <tr class="@(odd ? "odd": "even")">
    <td>
        <div>
        <span class="issue-created">@issue.fields.reporter.displayName, @Model.TimePassedSinceCreated(issue) sedan</span>
        <span class="issue-status" style="background-image: url(@issue.fields.status.iconUrl);">@issue.fields.status.name</span>
        <span class="issue-priority" style="background-image: url(@issue.fields.priority.iconUrl);">@issue.fields.priority.name</span>
        </div>

        <div class="issue-summary">@Html.ActionLink(issue.fields.summary, "Issue", new { key = issue.key }, new { Class = "black"})</div>

        @* <div class="issue-description">@issue.fields.description</div> *@
    </td>
    </tr>
}

</table>

@{ Html.RenderPartial("PaginationPartial", Model.Page); }
</div>