@model JiraIssueBrowser.Models.IssueViewModel

@section AddToHead{
    <link href="@Url.Content("~/Content/issue.css")" rel="stylesheet" type="text/css" />
}     

@{
    ViewBag.Title = "Issue";
}



<div class="issue">

<h2>@Model.Summary</h2>

<h3>Detaljer</h3>

<table class="issue-details">
<tr><td class="issue-detail-label">Rapporterat av:</td><td>@Model.ReportedBy</td></tr>
<tr><td class="issue-detail-label">Skapad:</td><td>@Model.Created</td></tr>
<tr><td class="issue-detail-label">Status:</td><td><img src="@Model.Status.iconUrl" alt="@Model.Status.name" />@Model.Status.name</td></tr>
<tr><td class="issue-detail-label">Prioritet:</td><td><img src="@Model.Priority.iconUrl" alt="@Model.Priority.name" />@Model.Priority.name</td></tr>
<tr><td class="issue-detail-label">Etiketter:</td><td>@foreach (var label in Model.Labels) { <span class="label">@label</span> }</td></tr>
<tr><td class="issue-detail-label">Tidsuppskattning:</td><td>@Model.TimeEstimate</td></tr>
<tr><td class="issue-detail-label">Levererad:</td><td>@Model.Solution</td></tr>
</table>

<h3>Beskrivning</h3>
@Model.Summary

<h3>Kommentarer</h3>
@foreach (var comment in Model.Comments)
{
    <div class="comment">
    <div class="comment-head"><strong>@comment.author.displayName</strong> @comment.created</div>
    <div class="comment-body">@comment.body</div>
    </div>
}

</div>